body {
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

header {
    padding: 8px 8px 16px 8px;
    background-color: #cacaca;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.0rem;
}

main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    text-align: center;
}

p {
    margin-bottom: 8px;
}

input, textarea {
    display: block;
}

.required::after {
    content: "*";
    color: red;
}

.error {
    font-size: 0.8rem;
    color: red;
}

.choose-option li {
    list-style-type: disclosure-closed;
    padding: 4px;
    border: solid 1px #cccccc;
    background-color: #dadada;
}

.choose-option li.selected {
    list-style-type: disclosure-open;
}

.center {
    text-align: center;
}

nav li {
    padding: 4px 4px 8px 0;
    border-top: solid 1px #fff;
}

.inbox {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.inbox .messages-panel {
    flex-grow: 2;
}

.inbox .contacts-panel, .inbox .messages-panel {
    margin-right: 8px;
    padding: 8px;
}

.contacts-panel h4, .contacts-panel li {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: solid 1px #aaaaaa;
}

.contacts-panel li {
    padding: 8px;
}

.new-contact {
    margin-top: 24px;
}

.chat {
    border: solid 1px #aaaaaa;
    border-radius: 10px;
    min-height: 200px;
    overflow-y: scroll;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.write-message {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-items: stretch;
    justify-content: center;
}
.write-message textarea {
    width: 100%;
    height: 100%;
}

.message {
    display: inline-block;
    padding: 16px;
    max-width: 75%;
    border-radius: 24px;
}

.message.as-sender {
    align-self: flex-end;
    border-bottom-right-radius: 2px;
}

.message.as-recipient {
    align-self: left;
    border-bottom-left-radius: 2px;
}

.message .date {
    font-size: 0.8rem;
    text-align: right;
}